*{
     font-family: 'Times New Roman', Times, serif;
     font-size: 16px;
}

body {
    background-color: #000000;
    color: #FFF;
}

main {
    background-color: rgb(0, 0, 0);
    width: 500px;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    box-shadow: 2px 3px 3px 3px rgba(100, 100, 200, 200);
}

img.lade {
    float: right;
}

.artigo {
    display: block;
    background: rgb(0, 0, 0);
    color: #FFF;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;
}

ol {
    background-color: aliceblue;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 20px 30px;
    color: #000;
}

ul {
    background-color: rgb(209, 233, 254);
    border-radius: 20px;
    padding: 20px 20px 20px;
    color:#000;
}